
.card-image {
    height: 100%;
    width: 100%;
}

.actor-card-image {
    max-height: 100%;
    max-width: 100%;
}

.media-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.featured-media-card-actions {
    padding: 5%;
}

.featured-media-card {
    background-color: #335D89;
}
