@use '../abstracts/colors';

#media-container {
    color: colors.$primary-text;
}

.media-icon-buttons {
    color: #386480;
    width: 50%;

    &:hover {
        color: colors.$primary-text;
    }
}